/* サイト全体のフォント指定 */
body{
    font-family: sans-serif;
    }

/* classセレクタ */
.font_red {
    color : #ff0000;  /* 赤 */
    }

    .icon {
        width: 30%;
        border-radius: 50%; /* 丸くトリミング */
        border: 3px solid #b788e3; /* 枠を追加 */
    }
    
