/* サイト全体のフォント指定 */
body{
    font-family: sans-serif;
    }

/* classセレクタ */
.font_red {
    color : #ff0000;  /* 赤 */
    }

    .icon {
        width: 10%;
        border-radius: 50%; /* 丸くトリミング */
        border: 5px solid #b788e3; /* 枠を追加 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 枠の影を追加 */
    }
    
